In [109]:
import pandas as pd
import csv
import sqlite3

In [129]:
cov19 = pd.read_csv("Data.csv")
cov19.dropna(inplace=True)

In [85]:
cov19["Date"]=cov19["Date"].astype(str)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 28869 entries, 15 to 38468
Data columns (total 15 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Entity                           28869 non-null  object
 1   Continent                        28869 non-null  object
 2   Latitude                         28869 non-null  float64
 3   Longitude                        28869 non-null  float64
 4   Average temperature per year     28869 non-null  int64
 5   Hospital beds per 1000 people    28869 non-null  float64
 6   Medical doctors per 1000 people  28869 non-null  float64
 7   GDP/Capita                       28869 non-null  float64
 8   Population                       28869 non-null  int64
 9   Median age                       28869 non-null  int64
 10  Population aged 65 and over (%)  28869 non-null  int64
 11  Date                             28869 non-null  object
 12  Daily tests                      28869 non-null  float64
 13  Cases                            28869 non-null  float64
 14  Deaths                           28869 non-null  float64
dtypes: float64(8), int64(4), object(3)
memory usage: 3.5+ MB

In [87]:
cov19

,Entity,Continent,Latitude,Longitude,Average temperature per year,Hospital beds per 1000 people,Medical doctors per 1000 people,GDP/Capita,Population,Median age,Population aged 65 and over (%),Date,Daily tests,Cases,Deaths
15,Albania,Europe,41.15,20.17,14,2.89,1.29,5353.2,2873457,38,14,2020-03-11,43.0,12.0,1.0
16,Albania,Europe,41.15,20.17,14,2.89,1.29,5353.2,2873457,38,14,2020-03-12,141.0,23.0,1.0
17,Albania,Europe,41.15,20.17,14,2.89,1.29,5353.2,2873457,38,14,2020-03-13,159.0,33.0,1.0
18,Albania,Europe,41.15,20.17,14,2.89,1.29,5353.2,2873457,38,14,2020-03-14,48.0,38.0,1.0
19,Albania,Europe,41.15,20.17,14,2.89,1.29,5353.2,2873457,38,14,2020-03-15,27.0,42.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38464,Zimbabwe,Africa,-19.02,29.15,20,1.70,0.08,1464.0,16529904,19,3,2021-02-21,1212.0,35796.0,1436.0
38465,Zimbabwe,Africa,-19.02,29.15,20,1.70,0.08,1464.0,16529904,19,3,2021-02-22,1643.0,35862.0,1441.0
38466,Zimbabwe,Africa,-19.02,29.15,20,1.70,0.08,1464.0,16529904,19,3,2021-02-23,1873.0,35910.0,1448.0
38467,Zimbabwe,Africa,-19.02,29.15,20,1.70,0.08,1464.0,16529904,19,3,2021-02-24,1804.0,35960.0,1456.0
38468,Zimbabwe,Africa,-19.02,29.15,20,1.70,0.08,1464.0,16529904,19,3,2021-02-25,2965.0,35994.0,1458.0

In [91]:
print(cov19["Date"])

15       2020-03-11
16       2020-03-12
17       2020-03-13
18       2020-03-14
19       2020-03-15
            ...
38464    2021-02-21
38465    2021-02-22
38466    2021-02-23
38467    2021-02-24
38468    2021-02-25
Name: Date, Length: 28869, dtype: object

In [81]:
cov19["Daily tests"]=="2020-03-11"

15       False
16       False
17       False
18       False
19       False
         ...
38464    False
38465    False
38466    False
38467    False
38468    False
Name: Daily tests, Length: 28869, dtype: bool

In [74]:
cov19['Date']=cov19['Date'].str.replace("-","", regex=False)
cov19

,Entity,Continent,Latitude,Longitude,Average temperature per year,Hospital beds per 1000 people,Medical doctors per 1000 people,GDP/Capita,Population,Median age,Population aged 65 and over (%),Date,Daily tests,Cases,Deaths
15,Albania,Europe,41.15,20.17,14,2.89,1.29,5353.2,2873457,38,14,20200311,43.0,12.0,1.0
16,Albania,Europe,41.15,20.17,14,2.89,1.29,5353.2,2873457,38,14,20200312,141.0,23.0,1.0
17,Albania,Europe,41.15,20.17,14,2.89,1.29,5353.2,2873457,38,14,20200313,159.0,33.0,1.0
18,Albania,Europe,41.15,20.17,14,2.89,1.29,5353.2,2873457,38,14,20200314,48.0,38.0,1.0
19,Albania,Europe,41.15,20.17,14,2.89,1.29,5353.2,2873457,38,14,20200315,27.0,42.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38464,Zimbabwe,Africa,-19.02,29.15,20,1.70,0.08,1464.0,16529904,19,3,20210221,1212.0,35796.0,1436.0
38465,Zimbabwe,Africa,-19.02,29.15,20,1.70,0.08,1464.0,16529904,19,3,20210222,1643.0,35862.0,1441.0
38466,Zimbabwe,Africa,-19.02,29.15,20,1.70,0.08,1464.0,16529904,19,3,20210223,1873.0,35910.0,1448.0
38467,Zimbabwe,Africa,-19.02,29.15,20,1.70,0.08,1464.0,16529904,19,3,20210224,1804.0,35960.0,1456.0
38468,Zimbabwe,Africa,-19.02,29.15,20,1.70,0.08,1464.0,16529904,19,3,20210225,2965.0,35994.0,1458.0

In [75]:
def sep_yearmonths(x):
    x['Date'] = x['Date'][:-2]
    return x
cov19 = cov19.apply(sep_yearmonths,axis=1)

In [78]:
cov19["Monthly Tests"] = cov19.groupby(['Entity','Date']).sum("Daily tests")
cov19

TypeError: incompatible index of inserted column with frame index

In [106]:
cov19['Date']=cov19['Date'].str.replace("-","", regex=False).astype(float)
cov19['Date']=pd.to_datetime(cov19['Date'],format="%Y%m%d")

In [107]:
cov19.groupby("Entity").resample("M", on="Date")["Daily tests"].sum()

IndexError: index 28869 is out of bounds for axis 0 with size 28869

In [51]:
cov19.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 28869 entries, 15 to 38468
Data columns (total 15 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Entity                           28869 non-null  object
 1   Continent                        28869 non-null  object
 2   Latitude                         28869 non-null  float64
 3   Longitude                        28869 non-null  float64
 4   Average temperature per year     28869 non-null  int64
 5   Hospital beds per 1000 people    28869 non-null  float64
 6   Medical doctors per 1000 people  28869 non-null  float64
 7   GDP/Capita                       28869 non-null  float64
 8   Population                       28869 non-null  int64
 9   Median age                       28869 non-null  int64
 10  Population aged 65 and over (%)  28869 non-null  int64
 11  Date                             28869 non-null  datetime64[ns]
 12  Daily tests                      28869 non-null  float64
 13  Cases                            28869 non-null  float64
 14  Deaths                           28869 non-null  float64
dtypes: datetime64[ns](1), float64(8), int64(4), object(2)
memory usage: 3.5+ MB

In [42]:
cov19['Date']=cov19['Date'].str.replace("-","", regex=False).astype(float)
cov19.info()
cov19

<class 'pandas.core.frame.DataFrame'>
Int64Index: 28869 entries, 15 to 38468
Data columns (total 15 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Entity                           28869 non-null  object
 1   Continent                        28869 non-null  object
 2   Latitude                         28869 non-null  float64
 3   Longitude                        28869 non-null  float64
 4   Average temperature per year     28869 non-null  int64
 5   Hospital beds per 1000 people    28869 non-null  float64
 6   Medical doctors per 1000 people  28869 non-null  float64
 7   GDP/Capita                       28869 non-null  float64
 8   Population                       28869 non-null  int64
 9   Median age                       28869 non-null  int64
 10  Population aged 65 and over (%)  28869 non-null  int64
 11  Date                             28869 non-null  float64
 12  Daily tests                      28869 non-null  float64
 13  Cases                            28869 non-null  float64
 14  Deaths                           28869 non-null  float64
dtypes: float64(9), int64(4), object(2)
memory usage: 3.5+ MB

,Entity,Continent,Latitude,Longitude,Average temperature per year,Hospital beds per 1000 people,Medical doctors per 1000 people,GDP/Capita,Population,Median age,Population aged 65 and over (%),Date,Daily tests,Cases,Deaths
15,Albania,Europe,41.15,20.17,14,2.89,1.29,5353.2,2873457,38,14,20200311.0,43.0,12.0,1.0
16,Albania,Europe,41.15,20.17,14,2.89,1.29,5353.2,2873457,38,14,20200312.0,141.0,23.0,1.0
17,Albania,Europe,41.15,20.17,14,2.89,1.29,5353.2,2873457,38,14,20200313.0,159.0,33.0,1.0
18,Albania,Europe,41.15,20.17,14,2.89,1.29,5353.2,2873457,38,14,20200314.0,48.0,38.0,1.0
19,Albania,Europe,41.15,20.17,14,2.89,1.29,5353.2,2873457,38,14,20200315.0,27.0,42.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38464,Zimbabwe,Africa,-19.02,29.15,20,1.70,0.08,1464.0,16529904,19,3,20210221.0,1212.0,35796.0,1436.0
38465,Zimbabwe,Africa,-19.02,29.15,20,1.70,0.08,1464.0,16529904,19,3,20210222.0,1643.0,35862.0,1441.0
38466,Zimbabwe,Africa,-19.02,29.15,20,1.70,0.08,1464.0,16529904,19,3,20210223.0,1873.0,35910.0,1448.0
38467,Zimbabwe,Africa,-19.02,29.15,20,1.70,0.08,1464.0,16529904,19,3,20210224.0,1804.0,35960.0,1456.0
38468,Zimbabwe,Africa,-19.02,29.15,20,1.70,0.08,1464.0,16529904,19,3,20210225.0,2965.0,35994.0,1458.0

In [46]:
cov19['Date']=pd.to_datetime(cov19['Date'],format="%Y%m%d")

<class 'pandas.core.frame.DataFrame'>
Int64Index: 28869 entries, 15 to 38468
Data columns (total 15 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Entity                           28869 non-null  object
 1   Continent                        28869 non-null  object
 2   Latitude                         28869 non-null  float64
 3   Longitude                        28869 non-null  float64
 4   Average temperature per year     28869 non-null  int64
 5   Hospital beds per 1000 people    28869 non-null  float64
 6   Medical doctors per 1000 people  28869 non-null  float64
 7   GDP/Capita                       28869 non-null  float64
 8   Population                       28869 non-null  int64
 9   Median age                       28869 non-null  int64
 10  Population aged 65 and over (%)  28869 non-null  int64
 11  Date                             28869 non-null  datetime64[ns]
 12  Daily tests                      28869 non-null  float64
 13  Cases                            28869 non-null  float64
 14  Deaths                           28869 non-null  float64
dtypes: datetime64[ns](1), float64(8), int64(4), object(2)
memory usage: 3.5+ MB

In [127]:
con = sqlite3.connect("tutorial.db")

In [122]:
cur=con.cursor()

In [6]:
cur.execute("CREATE TABLE movie(title, year, score)")

In [26]:
cur.execute("""
    INSERT INTO movie VALUES
        ('Monty Python and the Holy Grail', 1975, 8.2),
        ('And Now for Something Completely Different', 1971, 7.5)
""")

In [117]:
pd.read_sql_query('SELECT * FROM cov19',con)

DatabaseError: Execution failed on sql 'SELECT * FROM cov19': no such table: cov19

In [ ]:
cur.execute("CREATE TABLE cov19(
            Entity, Continent, Latitude, Longitude, Avg Temp per year, "Hosp beds per 1000", "Doctors per 1000" , 
            "GDP/capita", Population, Median Age, "Age > 65", Date, Daily tests, Cases, Deaths)
            ")
for row in cov19.itertuples():
    cursor.execute('''
                INSERT INTO products (Entity, Continent, Latitude, Longitude, Avg Temp per year, "Hosp beds per 1000", "Doctors per 1000" , 
                "GDP/capita", Population, Median Age, "Age > 65", Date, Daily tests, Cases, Deaths)
                VALUES (?,?,?,?,?,?,?,?,?,?,?,?,?,?,?)
                ''',
                row.product_id, 
                row.product_name,
                row.price
                )
conn.commit()

In [131]:
conn = sqlite3.connect("tut.db")
cov19.to_sql("cov19", conn)
conn.close()

C:\Users\user\ansel\lib\site-packages\pandas\core\generic.py:2789: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  method=method,

In [133]:
conn = sqlite3.connect("tut.db")
pd.read_sql_query('SELECT * FROM cov19',conn)

,index,Entity,Continent,Latitude,Longitude,Average temperature per year,Hospital beds per 1000 people,Medical doctors per 1000 people,GDP/Capita,Population,Median age,Population aged 65 and over (%),Date,Daily tests,Cases,Deaths
0,15,Albania,Europe,41.15,20.17,14,2.89,1.29,5353.2,2873457,38,14,2020-03-11,43.0,12.0,1.0
1,16,Albania,Europe,41.15,20.17,14,2.89,1.29,5353.2,2873457,38,14,2020-03-12,141.0,23.0,1.0
2,17,Albania,Europe,41.15,20.17,14,2.89,1.29,5353.2,2873457,38,14,2020-03-13,159.0,33.0,1.0
3,18,Albania,Europe,41.15,20.17,14,2.89,1.29,5353.2,2873457,38,14,2020-03-14,48.0,38.0,1.0
4,19,Albania,Europe,41.15,20.17,14,2.89,1.29,5353.2,2873457,38,14,2020-03-15,27.0,42.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28864,38464,Zimbabwe,Africa,-19.02,29.15,20,1.70,0.08,1464.0,16529904,19,3,2021-02-21,1212.0,35796.0,1436.0
28865,38465,Zimbabwe,Africa,-19.02,29.15,20,1.70,0.08,1464.0,16529904,19,3,2021-02-22,1643.0,35862.0,1441.0
28866,38466,Zimbabwe,Africa,-19.02,29.15,20,1.70,0.08,1464.0,16529904,19,3,2021-02-23,1873.0,35910.0,1448.0
28867,38467,Zimbabwe,Africa,-19.02,29.15,20,1.70,0.08,1464.0,16529904,19,3,2021-02-24,1804.0,35960.0,1456.0
28868,38468,Zimbabwe,Africa,-19.02,29.15,20,1.70,0.08,1464.0,16529904,19,3,2021-02-25,2965.0,35994.0,1458.0

In [ ]:
pd.read_sql_query('SELECT Entity FROM cov19 GROUP BY ',conn)